absl_py==1.4.0
joblib==1.2.0
keras==2.10.0
kmeans1d==0.3.1
matplotlib==3.7.1
numpy==1.20.3
opencv_python==4.7.0.72
optuna==3.2.0
PyYAML==6.0
tensorboard==2.10.1
tensorflow==2.10.0
tensorflow_addons==0.20.0
tqdm==4.65.0
